<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"> liste des Contacts</div>
    <div class="panel-body">

      <div class="form-group">
        <label>Mot clé :</label>
        <input type="text"   [(ngModel)]="motCle" />
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>



      </div>



  <table class="table table-striped">
    <tr>
      <th>ID</th><th>Name</th> <th>LastName</th> <th>Email</th> <th>tel</th>
    </tr>

    <tr *ngFor="let c of pageContacts?.content">
    <td>{{c.id}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.email}}</td>
      <td>{{c.tel}}</td>
      <td><a (click)="onEditContact(c.id)" class="clickable">Edit</a></td>
      <td><a  (click)="onDeletContact(c)" class="clickable"><p class="text-danger">Supprimer</p></a></td>

    </tr>


  </table>

      <div class="container">
        <ul class="nav nav-pills">
          <li *ngFor="let p of pages ; let i=index" [ngClass]="{'active':i==currentPage}"><a class="clickable" (click)="goToPage(i)">{{i}}</a></li>


        </ul>


      </div>


    </div>



  </div>



</div>
